.orderChose__car {
    min-width: 100%;
}

.order__cars {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    overflow-y: auto;
    scroll-snap-type: y;
}

@media (max-width: 1439.88px) {
    .order__cars {
        min-width: 628px;
    }
}

.order__car {
    min-height: 222px;
    flex: 0 1 50%;
    border: 1px solid var(--gray-light);
    margin: 0px;
}

.order__car_content {
    padding: 18px 38px 14px 18px;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order__car:hover {
    border: 1px solid var(--main-black);
    cursor: pointer;
}

.order__car_active {
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.order__cars::-webkit-scrollbar {
    width: 0;
}

.order__car_body {
    align-self: flex-end;
}

.order__car_namecar {
    font-family: Roboto;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--main-black);
}

.order__car_price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--gray-bold);
}

.order__form {
    display: flex;
}

@media (max-width: 767.88px) {
    .order__car {
        flex: 0 2 50.5%;
    }

    .order__cars {
        justify-content: center;
        min-width: 284px;
    }

    .order__car_content {
        padding: 18px 4px 14px 18px;
    }
}


