.total__order {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767.88px) {
    .total__order {
        flex-direction: column;
        align-items: center;
    }
}


.total__order__info_number {
    min-height: 24px;
    min-width: 92px;
    border-radius: 5px;
    margin: 0px 8px 0px 8px;
    border: 1px solid var(--gray-bold);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--main-black);  
}

.total__order__info__number_mr {
    margin: 0px 4px 0px 0px;
}

.total__order_info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.total__order_info_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    margin: 0px 0px 8px 0px;
    color: var(--main-black);
}

.total__order_info_elem {
    margin: 0px 0px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.total__order__result {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin: 0px 0px 28px 0px;
}

.total__order_img {
    min-width: 256px;
    min-height: 116px;
}

.total__order__img {
    width: 256px;
    height: 116px;
    background-repeat: no-repeat;
    background-size: contain;
}