.order {
    flex: 1 1 94%;
}


.order-form {
    margin: 0px 0px 52px 0px;
}

.order-container {
    margin: 36px auto 0px auto;
}

.order-main {
    display: flex;
    min-height: 100%;
}

.order-form__elem_layout {
    display: flex;
    justify-content: space-between;
}

.optional-wrapper {
    max-width: 322px;
    position: relative;
}


.order-form__elem_layout > label {
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.order-form__elem_ml {
    flex: 1 1;
    margin: 0px 0px 0px 6px;
}

.order-form__elem_mb {
    margin: 0px 0px 14px 0px;
}

.order__chose__current {
    flex: 1 1 59.46%;
    padding: 34px 0px 0px 0px;
    /* min-height: 100vh; */
}

.order__yours__order {
    flex: 1 1 25.53%;
    min-height: 100%;
}

.order__empty {
    flex: 1 1 14.48%;
    min-height: 100%;
    border-right: 1px solid var(--gray-light);
}

.vertical-line {
    border: 1px solid var(--gray-light);
}

.order__city__img {
    min-width: 100%;
    min-height: 352px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
}

.order__city__img img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


@media (max-width: 1440.88px) {
    .order-container {
        margin: 36px 64px 0px 64px;
    }
}