.order__main {
    min-width: 100%;
    padding: 34px 0px 0px 34px;
    min-height: 100%
}

@media (max-width: 1023.88px) {
    .order__main {
        margin: 0px 0px 34px 0px;
    }
}

@media (max-width: 767.88px) {
    .order__main {
        padding: 34px 0px 0px 22px;
    }
}

.order__details {
    /* margin: 0px 0px 34px 0px; */
}

.order__details div::before {
    content: '';
    border-bottom: 1px dotted black;
    flex-grow: 1;
    order: 2;
    margin: 0 14px;
}


.order__detail {
    display: flex;
    justify-content: space-between;
    margin: 36px 0px 36px 0px;
}

@media (max-width: 767.88px) {
    .order__detail {
        margin: 26px 0px 26px 0px;
    }
}

.order__title {
    display: flex;
    justify-content: flex-end;
}

.order__detail__name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    max-width: 152px;
    align-self: flex-end;
    color: var(--main-black);
}


.order__detail__value {
    font-family: Roboto;
    order: 3;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    max-width: 102px;
    line-height: 16px;
    text-align: right;
    color: var(--gray-bold);
}

.order_price {
    margin: 0px 0px 34px 0px;
}

.order__price__elem {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--main-black);
}

.order__price__value {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--main-black);
}

