:root {
  --minWidth: 320px;
  --md1: 1439.98px;
  --md2: 1023.98px;
  --md3: 767.98px;
  --main-color: rgba(14, 194, 97, 1);
  --main-black: rgba(18, 18, 18, 1);
  --gray-bold: rgba(153, 153, 153, 1);
  --gray-light: rgba(238, 238, 238, 1);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  border: 0;
}

button:focus {
  outline: 0;
}

ul {
  list-style: none;
}


.btn {
  color: var(--gray-light);
  font-weight: 500;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, hsla(148, 87%, 31%, 1) 2.61% , hsla(158, 97%, 22%, 1) 112.6%);
}

.btn:active {
  background: linear-gradient(90deg, hsla(148, 87%, 21%, 1) 2.61% , hsla(158, 97%, 12%, 1) 112.6%);
}

.btn:disabled,
.btn[disabled] {
  background: var(--gray-light);
}


.btn-detail {
  width: 164px;
  height: 48px;
  border-radius: 4px;
}


.btn-book {
  width: 250px;
  height: 48px;
  border-radius: 8px;
  background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
  color: white;
}


.btn-detail__green {
  background: linear-gradient(90deg, hsla(169, 58%, 18%, 1) 0%, hsla(128, 83%, 26%, 1) 100%);
}

.btn-detail__green:hover {
  background: linear-gradient(90deg, hsla(169, 58%, 8%, 1) 0%, hsla(128, 83%, 16%, 1) 100%);
}

.btn-detail__green:active {
  background: linear-gradient(90deg, hsla(169, 56%, 0%, 1) 0%, hsla(128, 83%, 6%, 1) 100%);
}


.btn-detail__turquoise {
  background: linear-gradient(90deg, hsla(216, 58%, 18%, 1) 0%, hsla(169, 83%, 26%, 1) 100%);
}

.btn-detail__turquoise:hover {
    background: linear-gradient(90deg,  hsla(216, 58%, 8%, 1) 0%, hsla(169, 83%, 16%, 1) 100%);
}

.btn-detail__turquoise:active {
  background: linear-gradient(90deg,  hsla(216, 56%, 0%, 1) 0%, hsla(169, 83%, 6%, 1) 100%);
}

.btn-detail__red {
  background: linear-gradient(90deg, hsla(32, 58%, 18%, 1) 0%, hsla(335, 83%, 26%, 1) 100%);
}

.btn-detail__red:hover {
  background: linear-gradient(90deg, hsla(32, 58%, 8%, 1) 0%, hsla(335, 83%, 16%, 1) 100%);
}

.btn-detail__red:active {
  background: linear-gradient(90deg, hsla(32, 56%, 0%, 1) 0%, hsla(335, 83%, 6%, 1) 100%);
}

.btn-detail__purple {
  background: linear-gradient(90deg, hsla(263, 58%, 18%, 1) 0%, hsla(295, 83%, 26%, 1) 100%);
}

.btn-detail__purple:hover {
  background: linear-gradient(90deg, hsla(263, 58%, 8%, 1) 0%, hsla(295, 83%, 16%, 1) 100%);
}

.btn-detail__purple:active {
  background: linear-gradient(90deg, hsla(263, 56%, 0%, 1) 0%, hsla(295, 83%, 6%, 1) 100%);
}

