:root {
  --minWidth: 320px;
  --md1: 1439.98px;
  --md2: 1023.98px;
  --md3: 767.98px;
  --main-color: rgba(14, 194, 97, 1);
  --main-black: rgba(18, 18, 18, 1);
  --gray-bold: rgba(153, 153, 153, 1);
  --gray-light: rgba(238, 238, 238, 1);
}

*{
  box-sizing:border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.geosearch {
  /* visibility: hidden; */
}

.underline {
  border: none;
  appearance: none;
  min-width: 224px;
  border-bottom: 1px solid var(--gray-bold);
  background: none;
} 
 

.container {
  margin: 0 auto;
  max-width: 1254px;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

button {
  border: 0;
}

button:focus {
  outline: 0;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--gray-bold);
  border-radius: 50%;
  margin: 0px 8px 0px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}


.custom-radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: var(--main-color);
  cursor: pointer;
}

.custom-radio:checked+label::before {
  border-color: var(--main-color);
  background-color: var(--main-color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.main-header__menu {
  display: none;
}

@media (max-width: 767.88px) {
  .order-input-wrapper {
    flex-direction: column;
  }
  .order-input-wrapper > label {
    align-self: flex-start;
    margin: 0px 0px 8px 16px;
  }
} 

@media (max-width: 767.88px) {
  .main-header__menu {
      display: block;
  }
}

.main-header {
  display: flex;
}

.order__form_elem > label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: var(--gray-bold);
}

.order__form_elem > input:checked + label{
  color: var(--main-black);
}

.order__form_elem > input {
  margin: 0px 8px 0px 0px;
}

.order__form_elem {
  margin: 0px 16px 0px 0px;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}


.btn {
  color: var(--gray-light);
  font-weight: 500;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, hsla(148, 87%, 31%, 1) 2.61% , hsla(158, 97%, 22%, 1) 112.6%);
}

.btn:active {
  background: linear-gradient(90deg, hsla(148, 87%, 21%, 1) 2.61% , hsla(158, 97%, 12%, 1) 112.6%);
}

.btn:disabled,
.btn[disabled] {
  background: var(--gray-light);
}


.btn-detail {
  width: 164px;
  height: 48px;
  border-radius: 4px;
}


.btn-book {
  width: 250px;
  height: 48px;
  border-radius: 8px;
  background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
  color: white;
}

.btn-full {
  width: 100%;
}

.btn-detail__green {
  background: linear-gradient(90deg, hsla(169, 58%, 18%, 1) 0%, hsla(128, 83%, 26%, 1) 100%);
}

.btn-detail__green:hover {
  background: linear-gradient(90deg, hsla(169, 58%, 8%, 1) 0%, hsla(128, 83%, 16%, 1) 100%);
}

.btn-detail__green:active {
  background: linear-gradient(90deg, hsla(169, 56%, 0%, 1) 0%, hsla(128, 83%, 6%, 1) 100%);
}


.btn-detail__turquoise {
  background: linear-gradient(90deg, hsla(216, 58%, 18%, 1) 0%, hsla(169, 83%, 26%, 1) 100%);
}

.btn-detail__turquoise:hover {
    background: linear-gradient(90deg,  hsla(216, 58%, 8%, 1) 0%, hsla(169, 83%, 16%, 1) 100%);
}

.btn-detail__turquoise:active {
  background: linear-gradient(90deg,  hsla(216, 56%, 0%, 1) 0%, hsla(169, 83%, 6%, 1) 100%);
}

.btn-detail__red {
  background: linear-gradient(90deg, hsla(32, 58%, 18%, 1) 0%, hsla(335, 83%, 26%, 1) 100%);
}

.btn-detail__red:hover {
  background: linear-gradient(90deg, hsla(32, 58%, 8%, 1) 0%, hsla(335, 83%, 16%, 1) 100%);
}

.btn-detail__red:active {
  background: linear-gradient(90deg, hsla(32, 56%, 0%, 1) 0%, hsla(335, 83%, 6%, 1) 100%);
}

.btn-detail__purple {
  background: linear-gradient(90deg, hsla(263, 58%, 18%, 1) 0%, hsla(295, 83%, 26%, 1) 100%);
}

.btn-detail__purple:hover {
  background: linear-gradient(90deg, hsla(263, 58%, 8%, 1) 0%, hsla(295, 83%, 16%, 1) 100%);
}

.btn-detail__purple:active {
  background: linear-gradient(90deg, hsla(263, 56%, 0%, 1) 0%, hsla(295, 83%, 6%, 1) 100%);
}

